@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --Linear-gradient-active-input-border: hsl(249, 99%, 64%) to
    hsl(278, 94%, 30%);
  --Red-400-inputerrors: hsl(0, 100%, 66%);
  --White: hsl(0, 100%, 100%);
  --Gray-200: hsl(270, 3%, 87%);
  --Gray-400: hsl(212, 12%, 71%);
  --Purple-950: hsl(278, 68%, 11%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
.right{
    grid-column: 1 / 2 ;
    grid-row: 1 / 4;
    background:url("images/bg-main-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.cfront{
    position: relative;
}
.cfront #cardf-img{
    width: 400px;
    height: auto;
    position: absolute;
    top: 70px;
    left: 150px;
}
.card-details{
    position: relative;
}
.card-details img{
    width: 15%;
    height: auto;
}
.card-details #logo-card{
    position: absolute;
    top: 100px;
    left: 171px;

}
.card-details .cnum{
    width: 100%;
    position: absolute;
    top: 190px;
    left: 165px;
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--White);
    letter-spacing: 0.2rem;
}
.card-details .cname{
    position: absolute;
    top: 250px;
    left: 166px;
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--White);
}
.card-details .expdate{
    position: absolute;
    top: 250px;
    left: 490px;
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--White);
}
.cback #cardb-img{
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 230px;
}
.cback span{
    position: absolute;
    top: 65.55%;
    left: 555px;
    font-weight: 600;
    color: var(--Gray-200);
}
.left{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}
.left form{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.holder1{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    text-transform: uppercase;
    color: var(--Purple-950);
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}
#holder-name{
    width: 100%;
    height: 2.5rem;
    padding-left: 0.5rem;
    border: 1.5px solid var(--Gray-400);
    border-radius: 8px;
    font-weight: 500;
    opacity: 0.5; 
    cursor: pointer;
}
#holder-name.error{
    border: 1.5px solid var(--Red-400-inputerrors);
}
#holder-name:focus{
    border: 1.5px solid hsl(249, 99%, 64%);
    outline: none;
}
#holder-name.success-msg{
   border: 1.5px solid hsl(249, 99%, 64%);
}
.holder2{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    text-transform: uppercase;
    color: var(--Purple-950);
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}
#holder-number{
    width: 100%;
    height: 2.5rem;
    padding-left: 0.5rem;
    border: 1.5px solid var(--Gray-400);
    border-radius: 8px;
    font-weight: 500;
    opacity: 0.5;
    cursor: pointer;
}
#holder-number.error{
    border: 1.5px solid var(--Red-400-inputerrors);
}
#holder-number:focus{
    border: 1.5px solid hsl(249, 99%, 64%) ;
    outline: none;
}
#holder-number.success-msg{
   border: 1.5px solid hsl(249, 99%, 64%);
}
.cvv{
    display: flex;
    align-items: center;
}
.holder3{
    width: 50%;
    text-transform: uppercase;
    color: var(--Purple-950);
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}
#holder-month{
    margin-top: 0.5rem;
    width: 45%;
    height: 2.5rem;
    padding-left: 0.5rem;
    border: 1.5px solid var(--Gray-400);
    border-radius: 8px;
    font-weight: 500;
    opacity: 0.5;
    cursor: pointer;
}
#holder-month.success-msg{
   border: 1.5px solid hsl(249, 99%, 64%);
}
#holder-month.error{
    border: 1.5px solid var(--Red-400-inputerrors);
}
#holder-year{
    margin-top: 0.5rem;
    width: 45%;
    height: 2.5rem;
    padding-left: 0.5rem;
    border: 1.5px solid var(--Gray-400);
    border-radius: 8px;
    font-weight: 500;
    opacity: 0.5;
    cursor: pointer;
}
#holder-year.error{
    border: 1.5px solid var(--Red-400-inputerrors);
}
#holder-year.success-msg{
   border: 1.5px solid hsl(249, 99%, 64%);
}
.holder4{
    width: 50%;
    text-transform: uppercase;
    color: var(--Purple-950);
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}
#holder-cvc{
    margin-top: 0.5rem;
    width: 100%;
    height: 2.5rem;
    padding-left: 0.5rem;
    border: 1.5px solid var(--Gray-400);
    border-radius: 8px;
    font-weight: 500;
    opacity: 0.5;
    cursor: pointer;
}
#holder-cvc.error{
    border: 1.5px solid var(--Red-400-inputerrors);
}
#holder-cvc.success-msg{
   border: 1.5px solid hsl(249, 99%, 64%);
}
#holder-month:focus,#holder-year:focus,#holder-cvc:focus{
    border: 1.5px solid hsl(249, 99%, 64%);
    outline: none;
}
.left button{
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background-color: var(--Purple-950);
    color: var(--Gray-200);
    font-weight: 500;
    cursor: pointer;
}
.error-msg{
    color: var(--Red-400-inputerrors);
    font-size: 0.6rem;
    font-style: italic;
}
.error-msg1{
    color: var(--Red-400-inputerrors);
    font-size: 0.6rem;
    font-style: italic;
}
.error-msg2{
    color: var(--Red-400-inputerrors);
    font-size: 0.6rem;
    font-style: italic;
}
.error-msg3{
    color: var(--Red-400-inputerrors);
    font-size: 0.6rem;
    font-style: italic;
}
.error-msg4{
    color: var(--Red-400-inputerrors);
    font-size: 0.6rem;
    font-style: italic;
}


.Completed-state{
    height: 50%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.Completed-state img{
    width: 15%;
    height: auto;
}
.Completed-state h1{
    color: var(--Purple-950);
    text-transform: uppercase;
    font-weight: 450;
    letter-spacing: 0.2rem;
}
.Completed-state p{
    color: var(--Gray-400);
    font-weight: 600;
}
.Completed-state button{
    width: 80%;
    margin-top: 1rem;
    cursor: pointer;
}
footer{
    grid-column: 2 / 3;
}
@media (max-width: 375px){
    body {
    display: flex;
    flex-direction: column;
    min-height: auto;
  }

  .right {
    width: 100%;
    height: 240px;
    background: url("images/bg-main-mobile.png") no-repeat center/cover;
    position: relative;
  }

  /* Front card */
  .cfront #cardf-img {
    width: 250px;
    top: 120px;
    left: 20px;
    z-index: 1;
  }

  /* logo on card */
  .card-details #logo-card {
    top: 140px;
    left: 40px;
    width: 60px;
    z-index: 1;
  }

  .card-details .cnum {
    font-size: 1rem;
    top: 190px;
    left: 35px;
    z-index: 1;
  }

  .card-details .cname {
    top: 225px;
    left: 40px;
    font-size: 0.6rem;
    z-index: 1;
  }

  .card-details .expdate {
    top: 225px;
    left: 220px;
    font-size: 0.6rem;
    z-index: 1;
  }

  /* Back card */
  .cback #cardb-img {
    width: 250px;
    top: 25px;
    left: 70px;
  }

  .cback span {
    top: 86px;
    left: 269px;
    font-size: 0.6rem;
  }

  /* Form Section */
  .left {
    padding: 2rem 1.5rem;
    width: 100%;
    justify-content: flex-start;
    grid-column: 1;
  }

  .left form {
    width: 100%;
  }
  .left small{
    font-size: 0.5rem;
  }

  .Completed-state img {
    width: 25%;
  }
}
/* END */